.bt
{
	margin-top: 19px;
	margin-right:3px;
	margin-bottom:3px;
	margin-left:3px;
	background: #00FFFF;
	font-style: verdana;
}
.bta
{
	margin-top: 19px;
	margin-right:3px;
	margin-bottom:3px;
	margin-left:3px;
	background: #00FFFF;
	font-style: verdana;
}
.contenido
{
	width:20%;
	height: 120px;
}
.jumbotron
{
  width: 600px;
  height: 400px;
  background: #00FFFF;
}
#container
{
	background:center;
}
.footer{
	height: 120px;
	background: yellow;
}