{% extends "base.html" %}
{% block title %}
	<title>
		Inicio
	</title>
{%endblock%}
	
{% block content %}
	
	<div class="Container body">
		<body background="{{STATIC_URL}}img/ff2.jpg" heigth="1000" width="1000">
		<div class="logotipo">
			<div class="col-xs-12">
				<DIV ALING="Center"><img src="{{STATIC_URL}}img/logot.jpg"  height="280" width="1000"  /> </DIV>
		</div>	</div>
		<div class="navegadores">
			<div class="class col-xs-4"></div>
			<div class="col-xs-4">
				<ul class="nav nav-pills">
					<li class="active"><a href="RegistroUser/"><FONT FACE="impact" SIZE=4 COLOR="blue" background="yellow">
 REGISTRO</FONT></p>
					<li class="active"><a href="/logeo"><FONT FACE="impact" SIZE=4 COLOR="black">
 LOGEO</FONT></p>
 					<li class="active"><a href="/Inicio"><FONT FACE="impact" SIZE=4 COLOR="yellow">
 INICIO</FONT></p>
				</ul>
			</div>
		</div>
		<div class="class col-xs-4"></div>
		<div class="contenido">

			<div class="class col-xs-4"></div>
			<div class="col-xs-4">

			<div class="jumbotron">
  
		        <p>	<FONT FACE="times new roman" SIZE=3 COLOR="black">

					 Triviador es un juego donde podras demostrar tus habilidades mentales que tanto sabes y que tanto puedes demostrar,estas preparado para el reto!!!!!!!!
					 Juega ahora con nosotros!!!!!!!!</FONT></p>
		        <p><li class="btn"><a href="/jugar" class="btn btn-primary" role="button"><FONT FACE="impact" SIZE=6 COLOR="blue">
 JUGAR</FONT></p></a> </p>
		      </div>
		    </div>
		    <div class="class col-xs-"4></div>
		  </div>
		</div>
			</body>
			</div>
			<div class="footer">
			<div class="container">
		<p class="text-footer">
			Este es el pie de pag 
			<a href="Desarrollado por"></a>
		</p>
		</div>
	</div>
		</div>	
		
{%endblock%}

	
